{% extends 'base.html.twig' %}
{% block body %}

    <div class="jumbotron">
        <h1 class="text-center">Registreren</h1>
    </div>

    {{ form_start(form) }}
    <table>
        <tr>
            <td>{{ form_label(form.brochure) }}&nbsp;&nbsp;</td>
            <td>{{ form_widget(form.brochure) }}</td>
        </tr>
        <tr>
            <td>{{ form_row(form._token) }}</td>
            <td>{{ form_errors(form) }}</td>
            <td>{{ form_row(form.save) }}</td
        </tr>
    </table>
    {{ form_end(form) }}



{% endblock %}