<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}WebSymfonyProject - Groep 5{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/simple-sidebar.css') }}">
    </head>
    <body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href={{ path("homeroute") }}>
                        Startpagina
                    </a>
                </li>
                <li>
                    <a href={{ path("userroute") }}>Afspraken</a>
                </li>
                <li>
                    <a href={{ path("patientDokterprofielen") }}>Doktersprofielen</a>
                </li>
                <li>
                    <a href={{ path("teamroute") }}>Groepsinformatie</a>
                </li>


                {% if is_granted('ROLE_ADMIN') %}
                    <hr>
                    <hr>
                    <li class="sidebar-brand">
                        <a href={{ path("adminroute") }}>
                            Admin paneel
                            </a>
                    </li>
                    <li>
                        <a href={{ path("artscontrolroute") }}>Artsen beheren</a>
                    </li>
                    <li>
                        <a href={{ path("locationcontrolroute") }}>Locaties beheren</a>
                    </li>
                    <li>
                        <a href={{ path("locationartsroute") }}>Locatie van arts beheren</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ARTS') %}
                    <hr>
                    <hr>
                    <li class="sidebar-brand">
                        <a href={{ path("artsroute") }}>
                            Artsen paneel
                        </a>
                    </li>
                    <li>
                        <a href={{ path("managehoursroute") }}>Uren regelen</a>
                    </li>
                    <li>
                        <a href={{ path("deleteappointmentsroute") }}>Afspraken verwijderen</a>
                    </li>
                    <li>
                        <a href={{ path("artsprofielroute") }}>Profielpagina</a>
                    </li>


                {% endif %}
                <hr>
                <hr>
                {% if is_granted('ROLE_USER') %}
                    <li>
                        <a href={{ path("quitroute") }}>Uitloggen</a>
                    </li>
                {% else %}
                    <li>
                        <a href={{ path("registerroute") }}>Registreren</a>
                    </li>
                    <li>
                        <a href={{ path("loginroute") }}>Inloggen</a>
                    </li>
                {% endif %}
                <li><br></li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        {% block body %}{% endblock %}
                        {% block javascripts %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    </body>
</html>
