{% extends 'base.html.twig' %}
{% block title %}homepage{% endblock %}
{% block body %}

    <div class="jumbotron">
        <h1 class="text-center">Artsen beheren</h1>
    </div>
    <table class="table">
        <tr>
            <th>Voornaam</th>
            <th>Achternaam</th>
            <th>Email</th>
            <th>Adres</th>
            <th>Acties</th>
        </tr>
    {% for result in results %}
        <tr>
            <td>{{ result.getNaam() }}</td>
            <td>{{ result.getActhernaam() }}</td>
            <td>{{ result.getEmail() }}</td>
            <td>{{ result.getAdress() }}</td>
            <td>
                <a href={{ path('artseditbyadminroute', {'id': result.getId()}) }}><button class="btn">Bewerken</button></a>
                <a><button class="btn">Verwijderen</button></a>
            </td>
        </tr>
    {% endfor %}
    </table>


{% endblock %}