{% extends 'base.html.twig' %}
{% block title %}homepage{% endblock %}
{% block body %}

    <div class="jumbotron">
        <h1 class="text-center">Locaties beheren</h1>
    </div>
    <table class="table">
        <tr>
            <th>Arts Naam</th>
            <th>Lokaal</th>
            <th>Adres</th>
            <th>Acties</th>
        </tr>
        {% for result in results %}
            <tr>
                <td>{{ result.getArtsid().getNaam() }} {{  result.getArtsid().getActhernaam() }}</td>
                <td>{{ result.getLokaal() }}</td>
                <td>{{ result.getAdres() }}</td>
                <td>
                    <a href={{ path('editlocationroute', {'id': result.getId()}) }}><button class="btn">Bewerken</button></a>
                    <a href={{ path('deletelocationroute', {'id': result.getId()}) }}><button class="btn">Verwijderen</button></a>
                </td>
            </tr>
        {% endfor   %}
    </table>

{% endblock %}