{% extends 'base.html.twig' %}
{% block title %}homepage{% endblock %}
{% block body %}

    <div class="jumbotron">
        <h1 class="text-center">Locaties beheren</h1>
    </div>
    <table class="table">
        <tr>
            <th>Lokaal Id</th>
            <th>Lokaal</th>
            <th>Adres</th>
            <th>Acties</th>
        </tr>
        {% for result in results %}
            <tr>
                <td>{{ result.getId() }}</td>
                <td>{{ result.getLokaal() }}</td>
                <td>{{ result.getAdres() }}</td>
                <td>
                    {% set del = 0 %}
                    <a href={{ path('editlocationroute', {'id': result.getId()}) }}><button class="btn">Bewerken</button></a>
                    {% for arts in artsen %}

                        {% if arts.getLocatieid() == result %}
                            {% set del = 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if del == 0 %}
                        <a href={{ path('deletelocationroute', {'id': result.getId()}) }}><button class="btn">Verwijderen</button></a>
                    {% endif %}


                </td>
            </tr>
        {% endfor   %}
    </table>

{% endblock %}